.chat-main
  .header
    .group-info
      .group-info__name
        = @group.name
        .group-info__member
          .member
          = "Member:"
          .users
            - @group.users.each do |u|
              = u.name
    .group-info__edit-btn
      = link_to edit_group_path(@group), class:"edit-btn" do
        .edit-btn
          Edit
  .main
    = render @messages
      

  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image', class: 'input-box__icon')
          = f.file_field :image, class:"input-box__image-select"
      = f.submit 'Send', class: 'form__send'