.side-bar
  .side-bar_header
    .top-items
      .top-items__name
        = current_user.name
      .top-items__items
        = link_to new_group_path do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .side-bar_group-list
    - current_user.groups.each do |group|
      .group-list
        = link_to group_messages_path(group) do
          .group-list__name
            = group.name
          .group-list__message
            = group.show_last_message